---
import Layout from "../layouts/Layout.astro";

//imagenes
import cartIcon from "../assets/cart-big.svg";
---

<Layout title="carrito">
    <style lang="scss">
        .container {
            width: 80%;
            margin: 0 auto;

            .titulo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem 0;

                img {
                    width: 50px;
                    margin-right: 1rem;
                }
            }

            .tabla {
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border: 4px solid #d9f0dd;

                    thead {
                        background-color: #d9f0dd;
                        color: #2d2d2d;
                        font-weight: bold;
                    }
                    th,
                    td {
                        padding: 1rem;
                        text-align: center;
                    }
                    tfoot {
                        background-color: #d9f0dd;
                        color: #2d2d2d;
                        font-weight: bold;
                    }
                }
                .trash {
                    width: 30px;
                    cursor: pointer;
                }
            }

            .pagar {
                margin: 2rem 0;
                display: flex;
                justify-content: flex-end;
                a {
                    text-decoration: none;
                    color: #fff;
                    font-weight: 800;
                    padding: 1rem 2rem;
                    margin-right: 1rem;
                    background-color: #7bad69;
                    border-radius: 2rem;
                    transition: background-color 200ms ease-in-out;

                    &:hover {
                        background-color: #5f8f4f;
                    }
                }
            }

            .quantity-btn{
                cursor: pointer;
            }
        }
    </style>

    <div class="container">
        <div class="titulo">
            <img src={cartIcon} alt="" />
            <h1>Carrito</h1>
        </div>

        <!-- Tabla -->
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody id="txt">
                    <tr>
                        <td>Producto 1</td>
                        <td>$ 100</td>
                        <td>
                            <span class="quantity-btn" data-action="decrease"
                                >&#10096</span
                            >
                            <span class="quantity">0</span>
                            <span class="quantity-btn" data-action="increase"
                                >&#10097</span
                            >
                        </td>
                        <td class="subtotal">$ 0.00</td>
                    </tr>
                    <tr>
                        <td>Producto 2</td>
                        <td>$ 100</td>
                        <td>
                            <span class="quantity-btn" data-action="decrease"
                                >&#10096</span
                            >
                            <span class="quantity">0</span>
                            <span class="quantity-btn" data-action="increase"
                                >&#10097</span
                            >
                        </td>
                        <td class="subtotal">$ 0.00</td>
                    </tr>
                    <tr>
                        <td>Producto 3</td>
                        <td>$ 100</td>
                        <td>
                            <span class="quantity-btn" data-action="decrease"
                                >&#10096</span
                            >
                            <span class="quantity">0</span>
                            <span class="quantity-btn" data-action="increase"
                                >&#10097</span
                            >
                        </td>
                        <td class="subtotal">$ 0.00</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <!-- el Total ocupa 3 columnas -->
                        <td colspan="3">Total</td>
                        <td id="total">$ 0</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="pagar">
            <a id="pagar">Pagar</a>
        </div>
    </div>

    <script>
        const quantityBtns = document.getElementsByClassName("quantity-btn");
        for (let i = 0; i < quantityBtns.length; i++) {
            quantityBtns[i].addEventListener("click", actualizarCantidad);
        }

        const trashIcons = document.getElementsByClassName("trash");
        for (let i = 0; i < trashIcons.length; i++) {
            trashIcons[i].addEventListener("click", eliminarFila);
        }

        function actualizarCantidad(event) {
            const button = event.target;
            const fila = button.closest("tr");
            const spanCantidad = fila.querySelector(".quantity");
            const cantidadActual = parseInt(spanCantidad.textContent);
            const action = button.dataset.action;

            if (action === "increase") {
                const nuevaCantidad = cantidadActual + 1;
                spanCantidad.textContent = nuevaCantidad;
            } else if (action === "decrease") {
                if (cantidadActual > 0) {
                    const nuevaCantidad = cantidadActual - 1;
                    spanCantidad.textContent = nuevaCantidad;
                }
            }

            recalcularSubtotal(fila);
        }

        function eliminarFila(event) {
            const fila = event.target.closest("tr");
            fila.remove();
            calcularTotal();
        }

        function recalcularSubtotal(fila) {
            const spanCantidad = fila.querySelector(".quantity");
            const cantidad = parseInt(spanCantidad.textContent);
            const precio = parseFloat(
                fila.querySelector("td:nth-child(2)").textContent.slice(1)
            );
            const subtotal = cantidad * precio;
            fila.querySelector(".subtotal").textContent = `$ ${subtotal.toFixed(
                2
            )}`;

            calcularTotal();
        }

        function calcularTotal() {
            const filas = document.querySelectorAll("#txt tr");
            let total = 0;

            for (let i = 0; i < filas.length; i++) {
                const subtotal = parseFloat(
                    filas[i].querySelector(".subtotal").textContent.slice(1)
                );
                total += subtotal;
            }

            document.querySelector("#total").textContent = `$ ${total.toFixed(
                2
            )}`;
        }

        const a = document.getElementById("pagar");
        const tbody = document.getElementById("txt");

        a.addEventListener("click", () => {
            integracionWhatsapp(generarMensaje());
        });

        function generarMensaje() {
            const filas = tbody.getElementsByTagName("tr");
            let mensaje = "";

            for (let i = 0; i < filas.length; i++) {
                const producto =
                    filas[i].querySelector("td:nth-child(1)").textContent;
                const precio =
                    filas[i].querySelector("td:nth-child(2)").textContent;
                const cantidad =
                    filas[i].querySelector(".quantity").textContent;
                const subtotal =
                    filas[i].querySelector(".subtotal").textContent;

                mensaje += `${producto}\n`;
                mensaje += `Precio: ${precio}\n`;
                mensaje += `Cantidad: ${cantidad}\n`;
                mensaje += `Subtotal: ${subtotal}\n\n`;
            }

            const total = document
                .querySelector("tfoot td:last-child")
                .textContent.trim();
            mensaje += `Total: ${total}`;

            return encodeURIComponent(mensaje); // Codificar el mensaje para incluir en la URL
        }

        function integracionWhatsapp(mensaje) {
            window.open(
                `https://api.whatsapp.com/send?phone=+51935463517&text=${mensaje}`,
                "_blank"
            );
        }
    </script>
</Layout>
