---
import Layout from "../layouts/Layout.astro";

//imagenes
import cartIcon from "../assets/cart-big.svg";
---

<Layout title="carrito">
    <style lang="scss">
        .container {
            width: 80%;
            margin: 0 auto;
            text-align: center;

            .titulo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 2rem 0;

                img {
                    width: 50px;
                    margin-right: 1rem;
                }
            }

            .tabla {
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border: 4px solid #d9f0dd;

                    thead {
                        background-color: #d9f0dd;
                        color: #2d2d2d;
                        font-weight: 800;
                    }
                    th,
                    td {
                        padding: 1rem;
                        text-align: center;
                    }

                    tfoot {
                        background-color: #d9f0dd;
                        color: #2d2d2d;
                        font-weight: 800;
                    }
                }

                td {
                    padding: 2rem;
                }
            }

            .buttons {
                margin: 2rem 0;
                display: flex;
                justify-content: center;

                .check-out {
                    height: fit-content;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-weight: 800;
                    padding: 1rem 2rem;
                    background-color: #7bad69;
                    border-radius: 2rem;
                    transition: background-color 200ms ease-in-out;

                    &:hover {
                        background-color: #5f8f4f;
                    }
                }

                .delete-products {
                    height: fit-content;
                    display: block;
                    text-decoration: none;
                    color: #fff;
                    font-weight: 800;
                    padding: 1rem 2rem;
                    margin-right: 1rem;
                    background-color: #f2224c;
                    border-radius: 2rem;
                    transition: background-color 200ms ease-in-out;

                    &:hover {
                        background-color: #d61e43;
                    }
                }

                .quantity-btn {
                    cursor: pointer;
                }
            }
        }

        .container-products {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 2rem 0;
            padding: 2rem;
            border-radius: 1rem;
            background-color: hsl(0, 0%, 90%);
            height: fit-content;

            p {
                display: grid;
                place-items: center;
                font-size: 2rem;
                width: 100%;
                height: 512px;
                border-radius: 1rem;
                background-color: hsl(0, 0%, 90%);
            }
        }

        @media screen and (max-width: 768px) {
            .container {
                .buttons {
                }
            }
        }
    </style>

    <div class="container">
        <div class="titulo">
            <img src={cartIcon} alt="" />
            <h1>Carrito</h1>
        </div>

        <!-- Container -->
        <div class="container-products" id="container-products">
            <p>Vacio, por el momento...</p>
        </div>
        <div class="buttons">
            <span class="delete-products" id="delete-productos"
                >Eliminar productos</span
            >
            <span class="check-out" id="pagar">Pagar</span>
        </div>
    </div>

    <script>
        import { sendWhatsapp } from "../lib/integrations.js";
        import { getLocalStorage } from "../lib/localStorage.js";

        const container = document.getElementById("container-products");
        const botonPagar: HTMLButtonElement = document.getElementById(
            "pagar"
        ) as HTMLButtonElement;
        const addItem: HTMLButtonElement = document.getElementById(
            "agregar"
        ) as HTMLButtonElement;
        const total: HTMLSpanElement = document.getElementById(
            "total"
        ) as HTMLSpanElement;
        const price: HTMLInputElement = document.getElementById(
            "price"
        ) as HTMLInputElement;
        const deleteProductos: HTMLButtonElement = document.getElementById(
            "delete-productos"
        ) as HTMLButtonElement;
        let prices: HTMLInputElement = document.getElementById(
            "price"
        ) as HTMLInputElement;

        const priceProduct: number = 6;
        let totalValue: number = 0;
        let totalAmount: number = 0;
        const whatsappNumber: string = "51935463517";

        // Obtiene los items del carrito de compras del localstorage
        const cartItem: Object = getLocalStorage("Carrito");

        if (cartItem) {
            cartItem.forEach((item) => {
                totalAmount++;
            });

            try {
                container.innerHTML = `

                        <style>
                            .cart {
                                display: flex;
                                gap: 1rem;
                                border-radius: 1rem;
                                background-color: #fff;
                                border: 0.1rem solid hsl(0, 0%, 60%);
                                width: 100%;
                                padding: 1rem 3rem;

                            }

                            .cart img {
                                max-width: 100px;
                            }

                            .cart span {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-start;
                            }

                            .cart span h2 {
                                font-weight: 800;
                            }

                            .cart span p {
                                font-weight: 400;
                            }

                            @media screen and (max-width: 768px) {
                                .cart {
                                    flex-direction: column;
                                    align-items: center;
                                    gap: 0.5rem;
                                }
                                .cart img {
                                    max-width: 100px;
                                }
                                .cart span {
                                    align-items: center;
                                }
                            }
                        </style>
                        <div class=cart>
                            <img src="/jergon_sacha_producto.jpg" alt="Product">
                            <span>
                                <h2>${cartItem[0].name}</h2>
                                <p>Cantidad: ${totalAmount}</p>
                                <p>Total: ${(
                                    totalAmount * priceProduct
                                ).toFixed(2)} soles</p>
                            </span>
                        </div>
            `;
            } catch (e) {
                console.log(e);
            }
        }

        // Obtiene el precio de cada producto y lo suma al total
        cartItem.forEach((item) => {
            totalValue += item.price;
        });

        // Delete products
        deleteProductos.addEventListener("click", () => {
            localStorage.removeItem("Carrito");
            location.reload();

            try {
                total.textContent = `s/. ${totalValue}`;
            } catch (e) {
                console.log(e);
            }
        });

        // Envia un mensaje de whatsapp con los productos del carrito de compras, al hacer click en el boton pagar
        botonPagar.addEventListener("click", () => {
            try {
                // Solo deja dos decimales a totalValue
                totalValue = totalValue.toFixed(2);

                sendWhatsapp(
                    whatsappNumber,
                    `Hola, quisiera comprar "${cartItem[0].name}" x ${totalAmount}, total: ${totalValue} soles`
                );
            } catch (e) {
                console.log(e);
                alert("No se pudo proceder");
            }
        });
    </script>
</Layout>
