---
// assets
import facebookIcon from "../assets/facebook-circle-mono.svg";
import pinterestIcon from "../assets/pinterest-circle-mono.svg";
import telegramIcon from "../assets/telegram-circle-mono.svg";
import twitterIcon from "../assets/twitter-circle-mono.svg";
import instagramIcon from "../assets/instagram-circle-mono.svg";
import messageIcon from "../assets/Message.svg";
import locationIcon from "../assets/Location.svg";
---

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/metrics";

    footer {
        color: #fff;
        background-color: colors.$gray;

        .container {
            padding: 30px 0;
            padding-top: 40px;
            max-width: metrics.$container-max-width;
            margin: auto;

            .social {
                max-width: 350px;
                display: flex;
                justify-content: space-between;
                margin: auto;
            }

            .main {
                h3 {
                    color: colors.$logotype-footer;
                    font-size: 28px;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                }

                ul {
                    margin-top: 10px;
                    list-style: none;

                    li {
                        display: flex;
                        margin-bottom: 10px;

                        img {
                            margin-right: 10px;
                        }

                        p {
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }

            hr {
                color: colors.$logotype-copyright;
                margin: 20px 0;
            }

            .copyright {
                color: colors.$logotype-copyright;
                font-size: 14px;
                display: flex;
                justify-content: space-between;

                .copy {
                    margin-right: 10px;
                }
            }

            .terms-privacy {
                display: flex;

                p:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
</style>

<footer>
    <div class="container">
        <div class="social">
            <img src={facebookIcon} alt="" /><img
                src={pinterestIcon}
                alt=""
            /><img src={twitterIcon} alt="" /><img
                src={instagramIcon}
                alt=""
            /><img src={telegramIcon} alt="" />
        </div>
        <div class="main">
            <div>
                <h3>Sachamama</h3>
                <p>Galletas 100% naturales hechas de Sacha Jergón</p>
                <ul>
                    <li>
                        <img src={messageIcon} alt="phone" />
                        <p>+00 000 000 000</p>
                    </li>
                    <li>
                        <img src={messageIcon} alt="email" />
                        <p>sachamama@email.com</p>
                    </li>
                    <li>
                        <img src={locationIcon} alt="pointmap" />
                        <p>Tarapoto, Perú</p>
                    </li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="copyright">
            <p class="copy">&copy; 2023 Amazonia Sachamama S.A.C</p>
            <div class="terms-privacy">
                <p>Politica de privacidad</p>
                <p>Terminos y condiciones</p>
            </div>
        </div>
    </div>
</footer>
