---
// Assets
import jerikaImg from "../assets/mem_jerika.jpeg";
import miguelImg from "../assets/mem_miguel.jpeg";  
import maylerImg from "../assets/mem_mayler.jpeg";
import jhanImg from "../assets/mem_jhan.jpeg";
import joseImg from "../assets/mem_jose.jpeg";
import kevinImg from "../assets/pexels-foto.jpeg";
---

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/metrics";

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .wrapper {
        max-width: metrics.$container-max-width;
        margin: auto;
    }

    //ubicación de tarjetas
    .container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .tarjet {
        background-color: colors.$primary-color;
        padding: 2rem;
        border-radius: 2rem;
        max-width: 400px;
        transition: transform 0.3s ease, background-color 200ms ease;

        &:hover {
            transform: scale(1.02);
            background-color: colors.$logotype;
        }

        .foto {
            img {
                width: 400px;
                height: 400px;
                max-width: 100%;
                object-fit: cover  ;
                border-radius: 1rem;
            }
        }

        .titulo {
            margin-top: 1rem;
            text-align: center;
        }

        .descripcion {
            margin-top: 1rem;
            text-align: center;
        }
    }
    @media screen and (max-width: 1600px) {
        .container {
            flex-direction: column;
        }
        .tarjet {
            width: 100%;
            margin: auto;
        }
    }
</style>
<div class="wrapper">
    <h1>Equipo</h1>
    <h2>Ingeniería de Sistemas</h2>
    <div class="container">
        <!-- Ingeniería de Sistemas -->
        <div class="tarjet">
            <!-- Fotos -->
            <div class="foto">
                <img src={jerikaImg} alt="jerika" />
            </div>

            <!-- Título -->
            <div class="titulo">
                <h3>Jerika Anthonella Reyna Ramírez</h3>
            </div>

            <!-- Descripción -->
            <div class="descripcion">
                <p>Soporte Técnico</p>
            </div>
        </div>

        <div class="tarjet center">
            <!-- Fotos -->
            <div class="foto">
                <img src={miguelImg} alt="miguel" />
            </div>

            <!-- Título -->
            <div class="titulo">
                <h3>Miguel Adrian Gonzales Rengifo</h3>
            </div>

            <!-- Descripción -->
            <div class="descripcion">
                <p>Programador</p>
            </div>
        </div>

        <div class="tarjet">
            <!-- Fotos -->
            <div class="foto">
                <img src={maylerImg} alt="mayler" />
            </div>

            <!-- Título -->
            <div class="titulo">
                <h3>Mayler Fabrizzio Villegas Valdera</h3>
            </div>

            <!-- Descripción -->
            <div class="descripcion">
                <p>Programador</p>
            </div>
        </div>
    </div>

    <h2>Marketing</h2>
    <div class="container">
        <div class="tarjet">
            <!-- Fotos -->
            <div class="foto">
                <img src={jhanImg} alt="jhan" />
            </div>

            <!-- Título -->
            <div class="titulo">
                <h3>Jhan Romero Nuñez</h3>
            </div>

            <!-- Descripción -->
            <div class="descripcion">
                <p>Sub Gerente, Director Marketing, Publicidad</p>
            </div>
        </div>

        <div class="tarjet center">
            <!-- Fotos -->
            <div class="foto">
                <img src={joseImg} alt="jose" />
            </div>

            <!-- Título -->
            <div class="titulo">
                <h3>Jose Armas Tuesta</h3>
            </div>

            <!-- Descripción -->
            <div class="descripcion">
                <p>Gerente General, Director de Distribución</p>
            </div>
        </div>

        <div class="tarjet">
            <!-- Fotos -->
            <div class="foto">
                <img src={kevinImg} alt="kevin" />
            </div>

            <!-- Título -->
            <div class="titulo">
                <h3>Kevin Isuiza Isuiza</h3>
            </div>

            <!-- Descripción -->
            <div class="descripcion">
                <p>Recursos Humanos, Producción</p>
            </div>
        </div>
    </div>
</div>
