---
// Assets
import jerikaImg from "../assets/mem_jerika.jpeg";
import miguelImg from "../assets/mem_miguel.jpeg";
import maylerImg from "../assets/mem_mayler.jpeg";
import jhanImg from "../assets/mem_jhan.jpeg";
import joseImg from "../assets/mem_jose.jpeg";
import kevinImg from "../assets/mem_kevin.jpg";
import MemberCard from "./Cards/MemberCard.astro";
---

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/metrics";
    @use "../styles/variables/typography";

    h1 {
        font-size: typography.$size-5;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: typography.$size-4;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .wrapper {
        max-width: metrics.$container-max-width;
        margin: auto;
    }

    .container-sys-eng,
    .container-amb-eng {
        background-color: colors.$ghost-green;
        padding: 2rem;
        border-radius: 0.5rem;
        margin-bottom: 4rem;
    }

    // Contenedor y ubicación de tarjetas
    .container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    @media screen and (max-width: 1600px) {
        .container {
            flex-direction: column;
        }
    }
</style>
<div class="wrapper">
    <h1>Equipo</h1>
    <div class="container-sys-eng">
        <h2>Ingeniería de Sistemas</h2>
        <div class="container">
            <!-- Ingeniería de Sistemas -->
            <MemberCard
                title="Jerika Anthonella Reyna Ramirez"
                image={jerikaImg}
                imageAlt="Foto de Jerika"
                role="Programadora"
            />

            <MemberCard
                title="Miguel Adrian Gonzales Rengifo"
                image={miguelImg}
                imageAlt="Foto de Miguel"
                role="Programador"
            />

            <MemberCard
                title="Mayler Fabrizzio Villega Valdera"
                image={maylerImg}
                imageAlt="Foto de Mayler"
                role="Programador"
            />
        </div>
    </div>

    <div class="container-amb-eng">
        <h2>Marketing</h2>
        <div class="container">
            <MemberCard
                title="Jhan Romero Nuñez"
                image={jhanImg}
                imageAlt="Foto de Jhan"
                role="Sub Gerente, Director Marketing, Publicidad"
            />

            <MemberCard
                title="Jose Armas Tuesta"
                image={joseImg}
                imageAlt="Foto de Jose"
                role="Gerente General, Director de Distribución"
            />

            <MemberCard
                title="Kevin Isuiza Isuiza"
                image={kevinImg}
                imageAlt="Foto de Kevin"
                role="Recursos Humanos, Producción"
            />
        </div>
    </div>
</div>
