---
// Assets
import compassImg from "../assets/compass.svg";
import eyesImg from "../assets/eyes.svg";
import heartImg from "../assets/heart.svg";
import misionImg from "../assets/mision.jpg";
---

<style lang="scss">
    @use "../styles/variables/colors";
    @use "../styles/variables/metrics";
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .container {
        max-width: metrics.$container-max-width;
        margin: 100px auto;
        .title {
            display: flex;
            align-items: center;
            width: fit-content;

            img {
                margin-right: 1rem;
            }

            h2 {
                margin-bottom: 0;
            }
            h3 {
            }
        }

        .imagenes {
            width: 240px;
        }

        .align {
            display: flex;
            margin-bottom: 50px;
        }
    }
</style>
<div class="container">
    <div class="align">
        <div>
            <div class="title">
                <img src={compassImg} alt="" />
                <h2>Misión</h2>
            </div>
            <p>
                Somos una empresa que fabrica y distribuye productos saludables,
                cumpliendo estándares de calidad, generando un valor agregado a
                todos nuestros procesos. Utilizando como materia prima el
                cultivo nativo de nuestra región San Martin.
            </p>
        </div>
        <img class="imagenes" src={misionImg} alt="" />
    </div>

    <div class="align">
        <div>
            <div class="title">
                <img src={eyesImg} alt="" />
                <h2>Visión</h2>
            </div>
            <p>
                Ser una empresa reconocida en el sector alimenticio como la
                primera opción en el mercado. Promocionando producto que brindan
                bienestar y salud a nuestros consumidores.
            </p>
        </div>
        <img class="imagenes" src={misionImg} alt="" />
    </div>

    <div class="align">
        <div>
            <div class="title">
                <img src={heartImg} alt="" />
                <h2>Valores</h2>
            </div>
            <h3>Respeto</h3>
            <p>
                Conducirnos con cortesía, tolerancia y solidaridad para lograr
                un buen ambiente con nuestros clientes y compañeros.
            </p>
            <h3>Responsabilidad</h3>
            <p>
                Cumplir con nuestras actividades diarias comprometidos siempre
                con la calidad de nuestro trabajo.
            </p>
            <h3>Integridad</h3>
            <p>
                Actuar con congruencia entre lo que se dice y hace en el
                desarrollo de cada una de nuestras actividades para predicar
                siempre con el ejemplo.
            </p>
        </div>
        <img class="imagenes" src={misionImg} alt="" />
    </div>
</div>
